{% extends 'base.html' %}
{% load staticfiles %}
{% block menu %}
    <nav class="navbar custom_nav navbar-expand-lg navbar-dark">
        <a class="navbar-brand" href="{% url 'webapp:index' %}">Home</a>
        {% if issue.project.status == 'active' %}
        <a class="nav-link new_nav_btn" href="{% url 'webapp:issue_delete' issue.pk %}">Delete<span class="sr-only">(current)</span></a>
        <a class="nav-link new_nav_btn" href="{% url 'webapp:issue_update' issue.pk %}">Edit<span class="sr-only">(current)</span></a>
        {% endif %}
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </nav>
{% endblock %}
{% block title %}{{ issue.summary }}{% endblock %}
{% block content %}
    <h1 class="main_header"><b>{{ issue.summary}}</b></h1>
    <h5> Status: <b>{{ issue.status}}</b></h5>
    <h5> Type: <b>{{ issue.type}}</b></h5>
    <h5>Created: <b>{{ issue.created_at|date:'d.m.Y H:i:s' }}</b></h5>
    <h5>Project: <b>{{ issue.project }}</b></h5>
    <p><br>{{ issue.description|escape|linebreaks }}</p>
{% endblock %}